<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%=searchProduct%>
    </title>

    <!-- link css -->
    <link rel="stylesheet" href="/css/searchProduct.css">
</head>

<body>
  <div class="container">

    <% for(let i=0; i< productList.length; i++){%>       
       <div class="items">
	 <div class="image" title="<%=productList[i].product_name%>" style="background-image:url('<%=productList[i].image_path%>')"></div>
            <div class="details">
                <h2><%=productList[i].product_name%></h2>
                <pre class="description"><%=productList[i].description%></pre>
                <a href="/viewproduct/<%=productList[i].product_id%>" target="_blank">view product</a>
            </div>
        </div>
     <%}%>
       
  </div>
</body>

</html>
